<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <permission
        android:name="com.ultramegasoft.flavordex2.lite.permission.ACCESS_DATA"
        android:protectionLevel="signature" />

    <application tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="AEdPqrEAAAAIzRBPnvlizG7Vjp3-1MjEhHwI39HdD_rs2KBqHA" />

        <provider
            android:name="com.ultramegasoft.flavordex2.provider.FlavordexProvider"
            android:authorities="com.ultramegasoft.flavordex2.lite.provider"
            android:enabled="true"
            android:exported="true"
            android:permission="com.ultramegasoft.flavordex2.lite.permission.ACCESS_DATA" />

    </application>

</manifest>
