<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <provider
            android:name="com.ultramegasoft.flavordex2.provider.FlavordexProvider"
            android:authorities="com.ultramegasoft.flavordex2.lite"
            android:enabled="true"
            android:exported="false" />

    </application>

</manifest>
