<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.ultramegasoft.flavordex2"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".FlavordexApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="UnusedAttribute">
        <activity
            android:name=".EntryListActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ViewEntryActivity"
            android:label="@string/app_name"
            android:parentActivityName=".EntryListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".EntryListActivity" />
        </activity>
        <activity
            android:name=".AddEntryActivity"
            android:label="@string/title_add"
            android:parentActivityName=".EntryListActivity" />
        <activity
            android:name=".EditEntryActivity"
            android:label="@string/title_edit" />
        <activity
            android:name=".EditCatActivity"
            android:label="@string/title_create_cat" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_settings"
            android:parentActivityName=".EntryListActivity"
            android:theme="@style/AppTheme.DialogWhenLarge" />

        <provider
            android:name=".provider.FlavordexProvider"
            android:authorities="com.ultramegasoft.flavordex2"
            android:enabled="true"
            android:exported="false">
        </provider>
    </application>

</manifest>
