<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.ultramegasoft.flavordex2"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.ultramegasoft.flavordex2.lite.permission.ACCESS_DATA" />

    <uses-feature
        android:name="android.hardware.location"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.network"
        android:required="false" />

    <application
        tools:ignore="AllowBackup,GoogleAppIndexingWarning,UnusedAttribute">
        <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="AEdPqrEAAAAI1rmSd8q8YRnl84E-73ReAlo-79A956xNgMQxsA" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="b44d8e5f1be7bf21052f7a3f76097ff04a8d6b0d" />

        <activity
            android:name=".EditCatActivity"
            android:label="@string/title_create_cat" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_settings"
            android:parentActivityName=".EntryListActivity"
            android:theme="@style/AppTheme.DialogWhenLarge" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_login"
            android:parentActivityName=".SettingsActivity"
            android:theme="@style/Theme.AppCompat.Dialog" />

        <provider
            android:name=".provider.FlavordexProvider"
            android:authorities="com.ultramegasoft.flavordex2.provider"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name=".service.InstanceIDService"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".service.FcmService"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".service.SyncService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>
        <service
            android:name=".service.DriveService"
            android:exported="true"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.google.android.gms.drive.events.HANDLE_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>
